[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
skforecast = {extras = ["all"], version = "*"}
ipywidgets = "*"
snakeviz = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
