homeassistant==2025.1.0
pytest-homeassistant-custom-component==0.13.201 # Version matching homeassistant
colorlog==6.7.0
pre-commit==3.3.3
ruff==0.9.4

statsmodels==0.14.4
matplotlib==3.10.0
pandas-stubs # Version should automatically match pandas version
scikit-learn
ariadne-codegen==0.14.0

# These are duplicated in .pre-commit-config.yaml
mypy==1.4.1
homeassistant-stubs # Version matching homeassistant
voluptuous-stubs==0.1.1
