[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
skforecast = "*"
ipywidgets = "*"
snakeviz = "*"
statsmodels = "*"
prophet = "*"
pmdarima = "*"
tbats = "*"

[dev-packages]

[requires]
python_version = "3.11"
